.swaping_layers {
    border: 4px solid #262626;
    background-color: #262626;
    color: transparent;
}

.swaping_layers::before {
    content: 'Hover me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.swaping_layers::after {
    content: 'Hover me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: translate(-100%, 100%);
}

.swaping_layers:hover::before {
    transform: translate(100%, -100%);
}

.swaping_layers:hover::after {
    transform: translate(0, 0);
}